@model ViewModel
           
<h2>Grouped Multi Selection Demo</h2>

<h3>Previous Selection</h3>
<dl>
    <dt>Ints</dt>
    <dd>@string.Join(", ", Model.Ints.Selected)</dd>
    <dt>Strings</dt>
    <dd>@string.Join(", ", Model.Strings.Selected)</dd>
    <dt>Days</dt>
    <dd>@string.Join(", ", Model.Days.Selected)</dd>
</dl>

<h3>Current Selection</h3>
@using (Html.BeginForm())
{
    <div class="row form-inline">
        <div class="span4">
            @Html.LabelFor(x => x.Ints)
            @Html.MultiDropDownListFor(x => x.Ints)
        </div>
        <div class="span4">
            @Html.LabelFor(x => x.Strings)
            @Html.MultiDropDownListFor(x => x.Strings)
        </div>
        <div class="span4">
            @Html.LabelFor(x => x.Days)
            @Html.MultiDropDownListFor(x => x.Days)
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-primary pull-right" value="Submit"/>
    </div>
}